
#slider-box  { 
	display: flex;
  flex-basis:content;
	 box-sizing: content-box;
max-height: 600px;
	position: relative;
 	text-align: justify;
 	box-shadow: 3px 4px 20px 2px rgba(0,0,0,0.2);
 	
}
 

 .go-right:hover, .go-left:hover{
background: rgba(155, 155, 155, 0.1);
box-shadow: -2px 0px 15px rgba(200, 200, 200 ,0.5);
cursor: pointer;
}


 
.go-right , .go-left{
	display: block;
 	text-align: center;
 	position: absolute;

 }

 .go-right{
height: 100%;
color: white;
position: absolute;
right: 0;
 }
.go-left{

height: 100%;
color: white;
position: absolute;

}


 .slider{
 	width: 100%;
 	height: 100%;
 	position: relative;
 	background: rgba(0, 0, 0, 0.9);
 	font-size: 21px;
  text-align: center;
}

 img{
 max-width:  100%; 
 	
  	background-size: 150%;
  	background-position: center;
  	background-repeat: no-repeat;
   -webkit-animation:fadein 1s; 
        -moz-animation:fadein 1s; 
         -ms-animation:fadein 1s; 
          -o-animation:fadein 1s; 
             
             animation:fadein 1.5s;
 }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


 div.circleBehind:before , div.circleBehind:after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(230,200,230,0.7);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    box-shadow: 1px 1px 5px 3px rgba(255, 255, 255 ,0.5), inset  1px 1px 12px 3px rgba(255,255,255, 0.3);
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: 1;
}

div.circleBehind :after{
    border-width: 2px;
    transition: all 0.3s;
    
}

div.circleBehind:hover:before{
   
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind:hover:after{
    
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.4);
}

div.circleBehind a{
	position: absolute;
 	vertical-align: middle;
 	font-size: 1em;
text-align: center;

 }






/* The dots/bullets/indicators */

#dots{
	position: absolute;
	bottom: 3%;
	left: 20%;
	right: 20%;
	margin: 0 auto;
}
.dot {
	position: relative;
  	cursor:pointer;
  	height: 1rem;
	border: 1px solid rgba(255,255,255,.6);
    opacity: 0.5;
  	filter: alpha(opacity=50);
  	margin: 0 2px;
  	border-radius: 50%;
  	display: inline-block;
  
 		transition: all 0.3s ease;
 		-webkit-transition: all 0.3s ease;
  	
}

 .dot:hover {
 
  box-shadow: -2px 0px 10px 5px rgba(200, 200, 200 ,0.3);
   background-color: rgba(200, 200, 200 ,0.8);
   border: 1px solid rgb(255,255,255);
   transform: scale(1.2);
}
 

